<!DOCTYPE html>
<html lang="en" ng-app="Pinkies">
<head>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.1/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <meta name="viewport" content="initial-scale=1"/>
    <meta charset="UTF-8">
    <title>SmartPlanner</title>
</head>
<body layout="row">
<div flex layout="column" ng-controller="calendarCtrl" ng-cloak la>
    <!Calendar UI>

        <div layout="row">
            <img src="PlannerHeader.png" alt="logo" style="height:100%; width:100%;">
        </div>

        <div layout="column" flex-fill layout-padding>

                <calendar-md flex layout="column" layout-fill
                             calendar-direction="direction"
                             on-prev-month="prevMonth"
                             on-next-month="nextMonth"
                             on-day-click="dayClick"
                             title-format="'MMMM y'"
                             ng-model='selectedDate'
                             tooltips="tooltips"
                             day-format="dayFormat"
                             day-label-format="'EEE'"
                             day-label-tooltip-format="'EEEE'"
                             day-tooltip-format="'fullDate'"
                             day-content="setDayContent"
                             disable-future-selection="false">
                </calendar-md>
        </div>

        <div layout = "column" layout-padding flex = "20">


                <div layout="column" flex>
                    <md-button class="md-fab md-mini md-primary" aria-label="Use Android" ng-click="addCard(newCard.newName, newSubject.date, newCard.newText)">
                        <md-icon md-svg-src="/CSS/add.svg" style="color: greenyellow;"></md-icon>
                    </md-button>

                    <div>
                        <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
                            <md-card-title>
                                <md-card-title-text>
                                    <div layout = "row">
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>Enter Subject</label>
                                        <input required name= "subject" type="text" ng-model="newSubject.subjectName">
                                    </md-input-container>

                                    <md-input-container>
                                        <label>Enter date</label>
                                        <input required name= "Date" type="text" ng-model="newSubject.date"></input>
                                    </md-input-container>

                                    </div>
                                </md-card-title-text>
                            </md-card-title>

                                <md-card-title-media md-padding>
                                    <div layout-padding>
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>Enter event</label>
                                        <textarea required name= "Event" type="text" ng-model="newSubject.cardText"></textarea>
                                    </md-input-container>
                                    </div>
                                </md-card-title-media>
                            <md-card-actions layout="row" layout-align="end center">
                                <md-button ng-click="addNewSubject(newCard)" flex>Save</md-button>
                            </md-card-actions>
                        </md-card>
                    </div>

                    <div ng-repeat="subject in allSubjects">
                        <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
                            <md-card-title>
                                <md-card-title-text>
                                    <span class="md-headline">{{subject.subjectName}}</span>
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>Daily Tasks</label>
                                        <textarea required name= "Event" type="text" rows="7" ng-model="subject.cardText"></textarea>
                                    </md-input-container>
                                </md-card-title-text>
                                <md-card-title-media>
                                    <div class="md-media-lg card-media"></div>
                                </md-card-title-media>
                            </md-card-title>
                            <md-card-actions layout="row" layout-align="end center">
                                <md-progress-linear ng-hide="!sending" md-mode="indeterminate"></md-progress-linear>
                                <md-button ng-click="deleteSubject(subject.id)">Delete</md-button>
                                <md-button ng-click="updateCard(subject)">Update</md-button>
                            </md-card-actions>
                        </md-card>
                    </div>
                </div>


        </div>
</div>

    <!--<div layout = "column" layout-padding>-->

        <!--<md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>-->
            <!--<md-card-title>-->
                <!--<md-card-title-text>-->
                    <!--<span class="md-headline">Create Event</span>-->
                <!--</md-card-title-text>-->

                <!--<md-content layout-padding>-->
                    <!--<div>-->
                        <!--<form ng-submit="CardController.addSubject(subject, date, event, details)">-->
                            <!--<div layout-gt-xs="row">-->
                                <!--<md-input-container class="md-block" flex-gt-sm>-->
                                    <!--<label>Enter Subject</label>-->
                                    <!--<input required name= "subject" type="text" ng-model="subject">-->
                                <!--</md-input-container>-->

                                <!--<md-input-container>-->
                                    <!--<label>Enter date</label>-->
                                    <!--<md-datepicker required name= "Date" type="text" ng-model="date"></md-datepicker>-->
                                <!--</md-input-container>-->
                            <!--</div>-->

                            <!--<div layout-gt-s="row">-->
                                <!--<md-input-container class="md-block" flex-gt-sm>-->
                                    <!--<label>Enter event</label>-->
                                    <!--<input required name= "Event" type="text" ng-model="event">-->
                                <!--</md-input-container>-->
                            <!--</div>-->

                            <!--<divlayout-gt-xs="row">-->
                                <!--<md-input-container class="md-block">-->
                                    <!--<label>Enter details</label>-->
                                    <!--<input ng-model="details">-->
                                <!--</md-input-container>-->
                            <!--</div>-->

                            <!--<md-card-actions layout="row" layout-align="end center">-->
                            <!--<md-button type = "submit">Add Event</md-button>-->
                            <!--</md-card-actions>-->
                         <!--</form>-->
                    <!--</div>-->
                <!--</md-content>-->
            <!--</md-card-title>-->
        <!--</md-card>-->
    <!--</div>-->





<!-- Angular Material Dependencies -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-messages.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.min.js"></script>
<!--<script type="text/javascript" src="https://www.google.com/jsapi"></script>-->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.1/angular-material.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ng-csv/0.3.6/ng-csv.min.js"></script>
<script src="/js/Pinkies.js"></script>
<script src="https://cdn.rawgit.com/bradberger/angular-material-calendar/master/dist/angular-material-calendar.js"></script>

</body>
</html>