<!DOCTYPE html>
<html lang="en" ng-app="Pinkies">
<head>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.1/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <meta name="viewport" content="initial-scale=1"/>
    <meta charset="UTF-8">
    <title>SmartPlanner</title>
</head>
<body layout="row">
<div flex layout="column" ng-controller="NavController as navCtrl" ng-cloak>

    <style>
    </style>

    <md-toolbar class="md-hue-2" layout="row" md-whiteframe="10" >
        <div class="md-toolbar-tools">

            <md-button ng-click="navCtrl.toggleSidenav('left')" hide-gt-md class="md-icon-button">
            </md-button>

            <h1>Smart Planner</h1>

        </div>
    </md-toolbar>

    <!Calendar UI>


    <div layout ="column" layout-padding ng-controller="calendarCtrl">

            <div layout="column">
                <calendar-md flex layout layout-fill
                             calendar-direction="direction"
                             on-prev-month="prevMonth"
                             on-next-month="nextMonth"
                             on-day-click="dayClick"
                             title-format="'MMMM y'"
                             ng-model='selectedDate'
                             week-starts-on="firstDayOfWeek"></calendar-md>

            </div>

        <div layout = "row" flex = "20">
            <md-card>
                <md-card-header>Create Event</md-card-header>

                <div layout ="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Enter Subject</label>
                        <input required name= "subject" type="text" ng-model="newSubject.subjectName">
                    </md-input-container>

                    <md-input-container>
                        <label>Enter date</label>
                        <input required name= "Date" type="text" ng-model="newSubject.date"></input>
                    </md-input-container>
                </div>

                <div layout = "row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Enter event</label>
                        <textarea required name= "Event" type="text" ng-model="newSubject.cardText"></textarea>
                    </md-input-container>
                </div>

                <md-card-actions layout="row" layout-align="end center">
                    <md-button ng-click="addNewSubject()">Add Event</md-button>
                </md-card-actions>

            </md-card>

                <div layout="row">
                    <md-list ng-repeat="subject in allSubjects">
                        <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
                            <md-card-title>
                                <md-card-title-text>
                                    <span class="md-headline">{{subject.subjectName}}</span>
                                    <text class="md-subhead">{{subject.cardText}}</text>
                                </md-card-title-text>
                                <md-card-title-media>
                                    <div class="md-media-lg card-media"></div>
                                </md-card-title-media>
                            </md-card-title>
                            <md-card-actions layout="row" layout-align="end center">
                                <md-button ng-click="deleteSubject(subject.id)">Delete</md-button>
                                <md-button>Update</md-button>
                            </md-card-actions>
                        </md-card>
                    </md-list>
                </div>


        </div>
    </div>

    <!--<div layout = "column" layout-padding>-->

        <!--<md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>-->
            <!--<md-card-title>-->
                <!--<md-card-title-text>-->
                    <!--<span class="md-headline">Create Event</span>-->
                <!--</md-card-title-text>-->

                <!--<md-content layout-padding>-->
                    <!--<div>-->
                        <!--<form ng-submit="CardController.addSubject(subject, date, event, details)">-->
                            <!--<div layout-gt-xs="row">-->
                                <!--<md-input-container class="md-block" flex-gt-sm>-->
                                    <!--<label>Enter Subject</label>-->
                                    <!--<input required name= "subject" type="text" ng-model="subject">-->
                                <!--</md-input-container>-->

                                <!--<md-input-container>-->
                                    <!--<label>Enter date</label>-->
                                    <!--<md-datepicker required name= "Date" type="text" ng-model="date"></md-datepicker>-->
                                <!--</md-input-container>-->
                            <!--</div>-->

                            <!--<div layout-gt-s="row">-->
                                <!--<md-input-container class="md-block" flex-gt-sm>-->
                                    <!--<label>Enter event</label>-->
                                    <!--<input required name= "Event" type="text" ng-model="event">-->
                                <!--</md-input-container>-->
                            <!--</div>-->

                            <!--<divlayout-gt-xs="row">-->
                                <!--<md-input-container class="md-block">-->
                                    <!--<label>Enter details</label>-->
                                    <!--<input ng-model="details">-->
                                <!--</md-input-container>-->
                            <!--</div>-->

                            <!--<md-card-actions layout="row" layout-align="end center">-->
                            <!--<md-button type = "submit">Add Event</md-button>-->
                            <!--</md-card-actions>-->
                         <!--</form>-->
                    <!--</div>-->
                <!--</md-content>-->
            <!--</md-card-title>-->
        <!--</md-card>-->
    <!--</div>-->



</div>

<!-- Angular Material Dependencies -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-messages.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.min.js"></script>
<!--<script type="text/javascript" src="https://www.google.com/jsapi"></script>-->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.1/angular-material.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ng-csv/0.3.6/ng-csv.min.js"></script>
<script src="/js/Pinkies.js"></script>
<script src="https://cdn.rawgit.com/bradberger/angular-material-calendar/master/dist/angular-material-calendar.js"></script>

</body>
</html>